P1/Imagenes/
P1/pruebas.py
P1AlbertoEstepaFernandez.zip
P2AlbertoEstepaFernandez.zip
P2/Imagenes/
Cuestionarios/Ayuda/
P3/Baeyens.ipynb
P3/Ayuda
P3/DatasetClasificacion
P3/DatasetRegresion
P3/Imagenes
P3/P3AlbertoEstepaFernandez.zip
